.btn {
    color: black;
    background-color: cyan;
}
.bombaContainer {
    width: 20%;
    height: 200px;
    background-image: url(https://img.freepik.com/vector-gratis/bomba-dibujos-animados-vector_97886-2416.jpg?size=338&ext=jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
}
.countDisplay {
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 30px;
}
